header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header_left_conbine {
  display: flex;
  justify-items: left;
}
.box_logo {
  display: inline;
  font-family: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #0a1b32;
  margin-left: 80px;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}
.box_logodot {
  color: #824ff1;
}
.nav_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin-top: 55px;
  padding-left: 0px;
  margin-left: 116px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #1b0a42;
}
.box_list {
  margin-right: 40px;
}
.header_right {
  display: flex;
  justify-content: space-between;
}
.nav_right {
  align-items: right;
  margin-top: 48px;
  margin-right: 68px;
  justify-content: space-between;
}
.element_login {
  padding-right: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #1b0a42;
}
.button_login {
  width: 120px;
  height: 60px;
  padding: 0px;
  background-color: #824ff1;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
}

.title_text {
  max-width: 495px;
  width: 100%;
  margin-left: 200px;
  margin-top: 203px;
  font-family: "Ramaraja";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  letter-spacing: 0.02em;
  color: #1b0a42;
}

.decription_text {
  max-width: 590px;
  width: 100%;
  margin-left: 200px;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  letter-spacing: 0.02em;
  color: #9a9a9a;
}
.button_learn {
  margin-top: 50px;
  margin-left: 200px;
  width: 152px;
  height: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  background-color: #824ff1;
}
